### 101
파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [1]:
# bool

### 102
아래 코드의 출력 결과를 예상하라

In [2]:
print(3 == 5)

# False

False

### 103
아래 코드의 출력 결과를 예상하라

In [3]:
print(3 < 5)

# True

True

### 104
아래 코드의 결과를 예상하라.

In [4]:
x = 4
print(1 < x < 5)

# True

True

### 105
아래 코드의 결과를 예상하라.

In [5]:
print ((3 == 3) and (4 != 3))

# True

True

### 106
아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

In [ ]:
print(3 => 4)

# 3>=4 연산자가 잘못됨

### 107
아래 코드의 출력 결과를 예상하라

In [6]:
if 4 < 3:
    print("Hello World")

# nothing

### 108
아래 코드의 출력 결과를 예상하라

In [7]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

# Hi, there.

Hi, there.

### 109
아래 코드의 출력 결과를 예상하라

In [8]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

# 1 2 4

1
2
4

### 110
아래 코드의 출력 결과를 예상하라

In [9]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

# 3 5

3
5

### 111
사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

In [11]:
result = input()
print(result*2)

안녕하세요
안녕하세요안녕하세요

### 112
사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

In [13]:
num = int(input("숫자를 입력하세요:"))
print(num+10)

숫자를 입력하세요:30
40

### 113
사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

In [14]:
num = int(input("숫자를 입력하세요:"))

if num%2 ==0:
    print("짝수")
else:
    pritn("홀수")

숫자를 입력하세요:2
짝수

### 114
사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

In [16]:
num = int(input("숫자를 입력하세요:"))
if num+20>255:
    print(255)
else:
    print(num+20)

숫자를 입력하세요:240
255

### 115
사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

In [18]:
num = int(input("숫자를 입력하세요:"))
result = num-20

if result<0:
    print(0)
elif result>255:
    print(255)
else:
    print(result)

숫자를 입력하세요:15
0

### 116
사용자로부터 입력 받은 시간이 정각인지 판별하라.

In [21]:
time = input("현재시간: ")

if time[3:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 03:10
정각이 아닙니다.

### 117
사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [25]:
fruit = ["사과", "포도", "홍시"]

result = input("좋아하는 과일은? ")

if result in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 과일
오답입니다.

### 118
투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

In [27]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

result = input("종목을 입력하세요: ")

if result in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목을 입력하세요: k
투자 경고 종목이 아닙니다.

### 119
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [29]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

result = input("제가좋아하는계절은: ")

if result in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 봄
정답입니다.

### 120
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [31]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

result = input("좋아하는과일은?: ")

if result in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는과일은?: 딸기
정답입니다.

### 121
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

In [34]:
letter = input()

if letter.islower() == True:
    print(letter.upper())
else:
    print(letter.lower())

A
a

### 122
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

In [37]:
score = int(input("score: "))

if score>80 & score<=100:
    print("A")
elif score>60 & score<=80:
    print("B")
elif score>40 & score<=60:
    print("C")
elif score>20 & score<=40:
    print("D")
else:
    print("E")

score: 83
A

### 123
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

In [40]:
money, currency = input("입력: ").split(" ")
money = int(money)

if currency == '달러':
    print(f"{money*1167} 원")
elif currency == '엔':
    print(f"{money*1.096} 원")
elif currency == '유로':
    print(f"{money*1268} 원")
elif currency == '위안':
    print(f"{money*71} 원")

입력: 100 달러
116700 원

In [44]:
temp = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}

money, currency = input("입력: ").split(" ")
print(float(money)*temp[currency], "원")

입력: 100 달러
116700.0 원

### 124
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

In [47]:
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

temp = [num1, num2, num3]
print(max(temp))

input number1: 10
input number2: 9
input number3: 20
20

In [48]:
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

if num1>=num2 & num1>=num3:
    print(num1)
elif num2>=num1 & num2>=num3:
    print(num2)
else:
    print(num3)

input number1: 10
input number2: 9
input number3: 20
20

### 125
휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

In [51]:
phone = {
    "011":"SKT",
    "016":"KT",
    "019":"LGU",
    "010":"알수없음"
}

num = input("휴대전화 번호 입력: ")

print(f"당신은 {phone[num[:3]]} 사용자입니다.")

휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

### 126
우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

In [59]:
num = input("우편번호: ")
result = int(num[2])

if result == 0 or result == 1 or result == 2:
    print("강북구")
elif result == 3 or result == 4 or result == 5:
    print("도봉구")
else:
    print("노원구")

우편번호: 01400
4
도봉구

In [57]:
num = input("우편번호: ")
result = num[2]

if result in ['1', '2', '3']:
    print("강북구")
elif result in ['4', '5', '6']:
    print("도봉구")
else:
    print("노원구")

우편번호: 01400
도봉구

### 127
주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

In [62]:
num = input("주민등록번호: ")
result = num[7]

if result in ['1', '3']:
    print("남자")
else:
    print("여자")

주민등록번호: 821010-3635210
남자

### 128
주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

In [67]:
num = input("주민등록번호: ")
result = num[8:10]

if result in ['00', '01', '02', '03', '04', '05', '06', '07', '08']:
    print("서울 입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 861010-1015210
서울 입니다.

### 129
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

In [71]:
num = input("주민등록번호: ")

result1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
result2 = str(11-(result1%11))

if result2 == num[-1]:
    print("유효한 주민등록번호입니다. ")
else:
    print("유효하지 않은 주민등록번호입니다. ")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

### 130
아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

In [74]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# 변동폭 = 최고가 - 최저가
# 상승장 = (시가 + 변동폭)>최고가
# 하락장

diff = float(btc['max_price']) - float(btc['min_price'])
cond = (float(btc['opening_price']) + diff ) > float(btc['max_price'])

if cond:
    print("상승장")
else:
    print("하락장")

상승장

### 131
for문의 실행결과를 예측하라.

In [75]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

# 사과 귤 수박

사과
귤
수박

### 132
for문의 실행결과를 예측하라.

In [76]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

# ##### ##### #####

#####
#####
#####

### 133
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

In [78]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

### 134
for문을 풀어서 동일한 동작을하는 코드를 작성하라.

In [79]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

### 135
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

In [80]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

### 136
다음 코드를 for문으로 작성하라.

In [81]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [82]:
for i in [10, 20, 30]:
    print(i)

10
20
30

### 137
다음 코드를 for문으로 작성하라.

In [84]:
print(10)
print(20)
print(30)

10
20
30

In [85]:
for i in [10, 20, 30]:
    print(i)

10
20
30

### 138
다음 코드를 for문으로 작성하라.

In [87]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [88]:
for i in [10, 20, 30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

### 139
다음 코드를 for문으로 작성하라.

In [89]:
print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [91]:
print("++++")
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

### 140
다음 코드를 for문으로 작성하라.

In [93]:
print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [96]:
for i in range(4):
    print('-------')

-------
-------
-------
-------

### 141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

In [97]:
price = [100, 200, 300]

for i in price:
    print(i+10)

110
210
310

### 142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

In [98]:
menu = ["김밥", "라면", "튀김"]

for i in menu:
    print(f"오늘의 메뉴: {i}")

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

### 143
리스트에 주식 종목이름이 저장돼 있다.

In [99]:
name = ["SK하이닉스", "삼성전자", "LG전자"]

for i in name:
    print(len(i))

6
4
4

### 144
리스트에는 동물이름이 문자열로 저장돼 있다.

In [101]:
animal = ['dog', 'cat', 'parrot']

for i in animal:
    print(f"{i} {len(i)}")

dog 3
cat 3
parrot 6

### 145
리스트에 동물 이름 저장돼 있다.

In [102]:
animal = ['dog', 'cat', 'parrot']

for i in animal:
    print(i[0])

d
c
p

### 146
리스트에는 세 개의 숫자가 바인딩돼 있다.

In [103]:
num = [1, 2, 3]

for i in num:
    print(f"3 x {i}")

3 x 1
3 x 2
3 x 3

### 147
리스트에는 세 개의 숫자가 바인딩돼 있다.

In [104]:
num = [1, 2, 3]

for i in num:
    print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

### 148
리스트에는 네 개의 문자열이 바인딩돼 있다.

In [105]:
letter = ["가", "나", "다", "라"]

for i in letter[1:]:
    print(i)

나
다
라

### 149
리스트에는 네 개의 문자열이 바인딩돼 있다.

In [106]:
letter = ["가", "나", "다", "라"]

for i in letter[::2]:
    print(i)

가
다

### 150
리스트에는 네 개의 문자열이 바인딩돼 있다.

In [107]:
letter = ["가", "나", "다", "라"]

for i in letter[::-1]:
    print(i)

라
다
나
가

In [ ]:
s